<!-- Ejemplo básico de una plantilla HTML -->
<html>
<head>
    <title>Mi Aplicación</title>
</head>
<body>
    <!-- Aquí puedes iterar sobre los datos y mostrarlos -->
    <h1>Suma de la columna fValue</h1>
    <p>La suma es: {{ Resultado_Suma }}</p>

    <h1>Nº de registros</h1>
    <p>Total de registros: {{ n_de_registros }}</p>
    {% if error %}
        <h1>Error</h1>
        <p>{{ error }}</p>
    {% else %}
        <h1>Datos de la API</h1>
        {% for desc in Description %}
            <p><strong>Concepto:</strong> {{ desc.szConcept }}</p>
            <p><strong>Fecha:</strong> {{ desc.dDate.date }}</p>
            <p><strong>Valor:</strong> {{ desc.fValue }}</p>
            <p><strong>Tipo:</strong>Tipo: {{ desc.acType }}</p>
            <br>
        {% endfor %}
    {% endif %}

</body>
</html>
